body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
}
header img {
  height: 50px; /* Adjust the size of your logo */
  margin-right: 15px;
}
header nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #007bff;
}
header nav a:hover {
  text-decoration: underline;
}

h1 {
    color: blue;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#updatedDate {
    font-style: italic;
}

/* for the csv */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.chart-container {
  width: 700px;
  height: 300px;
  position: relative;
}
  

